img{
  width: 100%;
  height: 100%;
}
.ART1{
  width: 700px;
  margin: auto;
  position: relative;
}
.ART2{
    width: 250px;
    position: absolute;
    bottom: 0px;
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ART3{
  width: 700px;
  margin: auto;
  position: relative;
}

.header{
  width: 60%;
   margin: auto;
   border: solid black;
   box-shadow: 5px 5px 5px black;
   padding: 20px;
   font-size: 20px;
   font-weight: 500;
   text-align: center;
   background-color: orange;
}

@keyframes slide {
from{transform: translateX(0px);}
to{transform: translateX(450px);}
}

/* box text */
.textbox1{
  position: absolute;
  border:darkred;
  top: 20px;
  right: 10px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: gray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  float: left;


}


/*--- Moving Square-circle--- */
.frameContainer{
  width: 1500px;
  height: 600px;
  background-color: lightblue;
  position: relative;

}
.animationSquare{
  height: 100px;
  width: 100px;
  background-color: darkblue;
  position: absolute;
  animation: animation_square 10s 20;
}
.img{
  height: 100px;
  width: 100px;
  background-color: darkblue;
  position: absolute;
  animation: animation_square 10s 20;
}
@keyframes animation_square{
  0%{background-color: darkblue; border-radius:0%; top: 0px;left: 0px;}
  25%{background-color: darkred; border-radius: 50%; top:500px; left:1400px;}
  50%{background-color: green; border-radius: 0%; top:0px; left:1400px;}
  75%{background-color: yellow; border-radius: 50%; top: 500px; left:0px;}
  100%{background-color: darkblue; border-radius: 0%;top: 0px; left: 0px;}
}

/* start of print 1*/
.print1{
  height:auto;
  width:260px;
  float: left;
  margin-left: 20px;
}

.newText{
  color: darkblue;
  text-align: center;
  font-weight: 600;
}

.itemTitle,.itemSubtitle,.itemPrice{
text-align: center;
color: rgb(70,70,70);
}

.itemPrice{
text-align: center;
font-size: 1.3em;

}
.itemProm{
  text-align: center;
  color: red;
  font-size: 0.9em;
}

.bagadd:hover{
  padding: 12px;
  color: black;
  text-decoration: none;
  background-color: lightgray;
}
.bagadd{
  width: 60%;
  padding: 12px;
  color: white;
  text-decoration: none;
  background-color: black;
  text-align: center;
  border: solid black;
}
.modalWindow{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100,100,100,0.5);
  opacity:0;
  pointer-events: none;
}
.modalWindow:target{
  opacity: 1;
  pointer-events: auto;
  transition: ease-in 1s;

}
.msgText{
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: white;
  top: 200px;
  left: 560px;
}
.msgText h3{
  background-color: darkgray;
  padding: 10px;
  color: white;
}
.msgText img{
  width: 30%;
  margin-left: 35%;
}
.modal-close:hover{
  padding: 12px;
  color: red;
  text-decoration: underline;
/*--end of print one--*/

}

/*--start of print two*/
p{
text-align: center;
}

.maincontainer{

  height: 600px;
}

.print2{
height:auto;
width:260px;
float: left;

margin-left: 20px;
}
.print3{
height:auto;
width:280px;
float: left;

margin-left: 20px;
}
.img{
height:auto;
width: 30px;
}

/* -- flex media --*/
.flex-media {
 display: flex;
 flex-wrap: wrap;
 background-color: lightgray;
 height: 200px;
}
.flex-media > div {
 width: 30px;
 height: 30px;
 margin: 10px;
 text-align: center;
 font-size: 30px;
}
